<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="enabledLog" value="1" />
    <add key="enabledLogTrama" value="1" />
    <add key="folderTMP" value="\TEMP" />
    <add key="rutaLog" value="\Logs" />
    <add key="rutaBD" value="\BD" />
    <add key="ReadTimeOut" value="500" />
    <add key="WriteTimeOut" value="500" />
    <add key="BaudRate" value="9600" />
    <add key="DataBits" value="8" />
    <add key="lecturaContinua" value="1" />
    <add key="caracterMinDoc" value="8" />
    <add key="caracterMaxDoc" value="11" />
    <add key="CaracteresImpresion" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="insertarDatosBase" value="0" />
    <add key="TitShowMessage" value="Balanza" />
    <add key="rutaDataBase" value="\Data\script.sql" />
    <add key="tipoImpresion" value="0" />
    <add key="eliminarTmp" value="1" />
    <add key="tipoFont" value="Courier" />
    <add key="tamanioFont" value="10" />
    <add key="margenPagina" value="35" />
    <add key="saltarIniTraBal" value="1" />
    <add key="edicionBalanza" value="0" />
    <add key="anioNumTicket" value="0" />
    <add key="valTipoSaco" value="0" />
    <add key="valorSimDecimal" value="." />
    <add key="cantidadDecimal" value="1" />
    <add key="longitudPorcentajeCalidad" value="6" />
    <add key="longitudCalidad" value="100" />
    <add key="longitudNumeroCalidad" value="10" />
    <add key="formatoPorcentaje" value="99.99%" />
    <add key="ColumnasLayout" value="2" />
    <add key="UCPercentageVacio" value="  .  %" />
    <add key="MaxLongitudTramaBalanza" value="50" />
    <add key="rutaJsonTemporal" value="\Data\temporal.json" />
    <add key="imprimirSinCalidad" value="0" />
    <add key="tamEtiquetaCalidad" value="10" />
    <add key="preProcesarTrama" value="0" />
  </appSettings>
  <system.data>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>